{% for question in questions %}
<div class="box {{'has-background-success-light' if question.is_correct else 'has-background-danger-light'}}">
    <h1 class="title is-4">{{ question.question }}</h1>

    {% if question.question_type == 'ONE' %}
    <h2 class="subtitle is-6 has-text-grey-light">Один ответ</h2>
    {% for answer in question.answers %}
    <article class="media">
        <div class="media-left">
            <span class="icon">
                {% if answer[0] %}
                <ion-icon name="radio-button-on-outline"></ion-icon>
                {% else %}
                <ion-icon name="radio-button-off-outline"></ion-icon>
                {% endif %}
            </span>
        </div>
        <div class="media-content">
            <div class="content">
                <p>{{ answer[1] }}</p>
            </div>
        </div>
    </article>
    {% endfor %}

    {% elif question.question_type == 'MANY' %}
    <h2 class="subtitle is-6 has-text-grey-light">Несколько ответов</h2>
    {% for answer in question.answers %}
    <article class="media">
        <div class="media-left">
            <span class="icon">
                {% if answer[0] %}
                <ion-icon name="checkbox-outline"></ion-icon>
                {% else %}
                <ion-icon name="square-outline"></ion-icon>
                {% endif %}
            </span>
        </div>
        <div class="media-content">
            <div class="content">
                <p>{{ answer[1] }}</p>
            </div>
        </div>
    </article>
    {% endfor %}

    {% elif question.question_type == 'ORDER' %}
    <h2 class="subtitle is-6 has-text-grey-light">Порядок ответов</h2>
    {% for answer in question.answers %}
    <article class="media">
        <div class="media-left">
            <div class="content">
                <p>{{ loop.index }}</p>
            </div>
        </div>
        <div class="media-content">
            <div class="content">
                <p>{{ answer }}</p>
            </div>
        </div>
    </article>
    {% endfor %}

    {% elif question.question_type == 'MATCH' %}
    <h2 class="subtitle is-6 has-text-grey-light">Связь ответов</h2>
    {% for answer in question.answers %}
    <article class="media">
        <div class="media-left">
            <span class="icon">
                <ion-icon name="link-outline"></ion-icon>
            </span>
        </div>
        <div class="media-content">
            <div class="columns is-vcentered is-mobile">
                <div class="column">
                    <div class="content">
                        <p>{{ answer[0] }}</p>
                    </div>
                </div>
                <div class="column">
                    <div class="content">
                        <p>{{ answer[1] }}</p>
                    </div>
                </div>
            </div>
        </div>
    </article>


    {% endfor %}

    {% endif %}
    <br>

    <div class="field is-grouped is-grouped-multiline">
        <div class="control">
            <div class="tags has-addons">
                <span class="tag is-dark">
                    <span class="icon">
                        <ion-icon name="bandage-outline"></ion-icon>
                    </span>
                </span>
                <span class="tag is-info">{{ question.is_full }}</span>
            </div>
        </div>

        <div class="control">
            <div class="tags has-addons">
                <span class="tag is-dark">
                    <span class="icon">
                        <ion-icon name="at-outline"></ion-icon>
                    </span>
                </span>
                <span class="tag is-primary">{{ question.question_id }}</span>
            </div>
        </div>
    </div>

    <div class="level is-mobile">
        <div class="level-right">
            <div class="level-item">
                <button class="button" hx-get="/tg/test-close" hx-swap="none">
                    <span class="icon">
                        <ion-icon name="paper-plane-outline"></ion-icon>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>
<nav class="pagination" role="navigation" aria-label="pagination">
    <div class="pagination-previous {{'is-disabled' if not paginator.has_next }}"><span class="icon">
            <ion-icon name="arrow-back-outline"></ion-icon>
        </span></div>
    <div class="pagination-next {{'is-disabled' if not paginator.has_previous }}"><span class="icon">
            <ion-icon name="arrow-forward-outline"></ion-icon>
        </span></div>
    <ul class="pagination-list">
        {% for page in paginator.pages %}
        <li>
            {% if page is none %}
            <span class="pagination-ellipsis">&hellip;</span>
            {% else %}
            <div hx-post="/tg/result" hx-target="#result" hx-vals='js:{...htmx.values(htmx.find("#search-btn"))}'
                class="pagination-link {{'is-current' if page == paginator.current }}">{{ page }}</div>
            {% endif %}
        </li>
        {% endfor %}
</nav>
{% endfor %}