<section class="section">
    <div class="container">
        <form class="box">
            <div class="field is-grouped">
                <p class="control is-expanded">
                    <input name="q" class="input" type="text" placeholder="Поиск в котиках">
                </p>
                <p class="control">
                    <button class="button is-info" hx-post="/tg/result"
                        hx-vals='js:{initData: window.Telegram.WebApp.initData}' hx-target="#result">
                        Поиск
                    </button>
                </p>
            </div>
            <div class="field">
                <div class="control">
                    <label class="checkbox">
                        <input type="checkbox" name="only-correct">
                        Только верные ответы
                    </label>
                </div>
            </div>
        </form>
    </div>
</section>
<section class="section">
    <div class="container" id="result">
    </div>
</section>